<!DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<title>Главная - Доска объявлений</title>
</head>
<body>
	<h1>Объявления</h1>
	{% for bb in bbs %}
	<div>
		<h2>{{ bb.title }}</h2>
		<p>{{ bb.content }}</p>
		<p>{{ bb.published|date:"d.m.Y. H:i:s"}}</p>
		<p>{{ bb.rubric.name}}</p>
	</div>
	{% endfor %}
	
	<h1> Рубрики </h1>
	{% for rb in rbs1%}
		<h2> {{ rb.name}} </h2>
		{%  for bb in rb.bb_set.all %}
		<h2>{{ bb.title }}</h2>
		{% endfor %}
	
	{% endfor %}
	
</body>
</html>
